{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Log in' %}{% endblock %}

{% block content %}

    <h2>{% trans 'Log in' %}</h2>

    {% if form.errors %}
        <div class="main-error">
            {% trans "Operation failed" %}
        </div>
    {% endif %}

    <!--
    <div class="main-warn">
        {% trans "Booking will open in a few hours." %}
    </div>!-->

    <div id="login">
        <form method="post" action="">
            <div class="field{% if form.username.errors %} field-error{% endif %}">
            {% if form.username.errors %} <div class="error">{{ form.username.errors|join:", " }}</div>{% endif %}
                <label for="id_username">{% trans 'Username:' %}</label>
            {{ form.username }}
            </div>

            <div class="field{% if form.password.errors %} field-error{% endif %}">
                {% if form.password.errors %} <div class="error">{{ form.password.errors|join:", " }}</div>{% endif %}
                    <label for="id_password">{% trans 'Password:' %}</label>
                {{ form.password }}
            </div>

            <div class="field sub">
                <input type="submit" value="{% trans 'Log in' %}" />
            </div>
        </form>

        <div id="login_footer">
            <p>
                {% trans "Don't have an account?" %} <a href="/account/register/">{% trans "Sign up" %}</a>
            </p>
            <p>
                {% trans "Forgot your password?" %} <a href="/account/password_reset/">{% trans "Recover my password" %}</a>
            </p>
        </div>
    </div>

    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>
{% endblock %}
