{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Identification" %}{% endblock %}

{% block content %}

	<h2>{% trans "Identifiez-vous" %}</h2>

	{% if form.errors %}
		<div class="main-error">
			{% trans "L'authentification a échouée" %}
		</div>
	{% endif %}

	<div id="login">
		<form method="post" action="">
			<div class="field{% if form.username.errors %} field-error{% endif %}">
			{% if form.username.errors %} <div class="error">{{ form.username.errors|join:", " }}</div>{% endif %}
				<label for="id_username">{% trans "Identifiant :" %}</label>
			{{ form.username }}
			</div>

			<div class="field{% if form.password.errors %} field-error{% endif %}">
				{% if form.password.errors %} <div class="error">{{ form.password.errors|join:", " }}</div>{% endif %}
					<label for="id_password">{% trans "Mot de passe :" %}</label>
				{{ form.password }}
			</div>

			<div class="field sub">
				<input type="submit" value="{% trans "Se connecter" %}" />
			</div>
		</form>
		<div>
			<p>
				{% trans "Vous n'avez pas encore de compte ? Enregistrez-vous ici :" %} <a href="/account/register/">{% trans "S'enregistrer" %}</a>
			</p>
			<p>
				{% trans "Mot de passe oublié ? Faites-vous envoyer votre mot de passe :" %} <a href="/account/lostpassword/">{% trans "Envoyer le mot de passe" %}</a>
			</p>
		</div>
	</div>

{% endblock %}

