{% extends "base2cols.html" %}

{% load i18n %}

{% block title %}{% trans "User Network parameters" %}{% endblock %}

{% block sidebar %}
    {% include "account/menu.html" %}
{% endblock %}

{% block content %}
    {% include "account/menu_manager.html" %}

    <h2>{% trans "Network parameters" %}</h2>

    {% comment %}
    <div id="manage_wifi">
        <div class="field">
            <div class="label">{% trans "Username:" %}</div>
            {% ifequal username None %}
                <em class="notset">{% trans "not set" %}</em>
            {% else %}
                <span>{{ username }}</span>
            {% endifequal %}
        </div>
        <div class="field">
            <div class="label">{% trans "Password:" %}</div>
            {% ifequal password None %}
                <em class="notset">{% trans "not set" %}</em>
            {% else %}
                <span>{{ password }}</span>
            {% endifequal %}
        </div>
    </div>
    {% endcomment %}

    <div id="netparams">
        {% if sxb_ip %}
            <pre><strong>{% trans "User IP address:" %}</strong> {{ sxb_ip }}
<strong>{% trans "Netmask:" %}</strong> 255.255.248.0
<strong>{% trans "Gateway:" %}</strong> 89.234.175.254
<strong>{% trans "Mac address gateway:" %}</strong> 00:09:3d:00:31:4a
<strong>{% trans "DNS server:" %}</strong> 89.234.175.254
<strong>{% trans "Domain:" %}</strong> sxb.rmll.info
<strong>{% trans "Outgoing SMTP server:" %}</strong> smtp.sxb.rmll.info</pre>
        {% endif %}
    </div>

{% endblock %}
