{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="main-error">
            {% trans "Operation failed" %}
        </div>
    {% endif %}

    <div id="password_reset_confirm">
        {% if validlink %}
            <h2>{% trans "Password reset" %}</h2>
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

            <form action="" method="post">{% csrf_token %}
                <div class="field{% if form.new_password1.errors %} field-error{% endif %}">
                    {% if form.new_password1.errors %} <div class="error">{{ form.new_password1.errors|join:", " }}</div>{% endif %}
                        <label for="id_new_password1">{% trans 'New password:' %}</label>
                    {{ form.new_password1 }}
                </div>

                <div class="field{% if form.new_password2.errors %} field-error{% endif %}">
                    {% if form.new_password2.errors %} <div class="error">{{ form.new_password2.errors|join:", " }}</div>{% endif %}
                        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                    {{ form.new_password2 }}
                </div>

                <div class="field sub">
                    <input type="submit" value="{% trans 'Change my password' %}" />
                </div>
            </form>
        {% else %}
            <h2>{% trans 'Password reset unsuccessful' %}</h2>
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
        {% endif %}
    </div>
{% endblock %}
