{% extends "base2cols.html" %}

{% load i18n %}

{% block title %}{% trans "Search a user" %}{% endblock %}

{% block sidebar %}
    {% include "account/menu.html" %}
{% endblock %}

{% block content %}
    <h2>{% trans "Search a user" %}</h2>

    {% if search_mode and not results %}
        <div class="main-error">
            {% trans "No results" %}
        </div>
    {% endif %}

    <div id="account_search">
        <form method="post" action="">
            <div>
                <label class="inline" for="pattern">{% trans "Search pattern:" %}</label>
                <input type="text" class="text" name="pattern" id="pattern" value="{{ pattern }}" />
                {% if badges %}
                    <select name="badge">
                        <option value=""></option>
                        {% for b in badges %}
                            <option value="{{ b.id }}"{% ifequal b.id badge.id %} selected="selected"{% endifequal %}>{{ b.name }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                <input type="submit" value="{% trans "ok" %}" />
            </div>
        </form>

        {% if results %}
            <table class="list">
                <tr>
                    <th>#</th>
                    <th>{% trans "Id" %}</th>
                    <th>{% trans "Last name" %}</th>
                    <th>{% trans "First name" %}</th>
                    <th>{% trans "Email" %}</th>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "Badge" %}</th>
                    <th></th>
                </tr>
                {% for u in results %}
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td class="num">{{ forloop.counter }}</td>
                        <td class="num">{{ u.id }}</td>
                        <td class="act">{{ u.last_name }}</td>
                        <td class="act">{{ u.first_name }}</td>
                        <td class="act">{{ u.email }}</td>
                        <td class="act">{{ u.username }}</td>
                        <td class="act">{{ u.get_profile.badge_type }}</td>
                        <td class="act">
                            <a href="/resa/manage_orders/{{ u.id }}">
                                {% trans "View" %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    <script type="text/javascript">
        document.getElementById('pattern').focus()
    </script>
{% endblock %}
