{% load i18n %}

{% if user %}
    {% if user.is_staff or user.get_profile.is_manager or user.get_profile.is_reception %}
        <noscript>
            <div class="main-warn">
                {% trans "You will need to enable JavaScript to use some advanced features." %}
            </div>
        </noscript>
    {% endif %}
{% endif %}

<div id="skip-link">
    <a href="#content" class="element-invisible element-focusable">{% trans "Go to main content" %}</a>
</div>

<div id="header">
    <div class="container">
        <div class="span-22 push-1">
            <div class="span-6 first logo">
                <a href="/">
                    <img src="{{ STATIC_URL }}images/logo-rmll-2012-{{ LANGUAGE_CODE }}.png" alt="{% trans "LSM website" %}" />
                </a>
            </div>
            <div class="span-16 last event">
                <a href="http://2013.rmll.info/">
                    <img src="{{ STATIC_URL }}images/brussels-2013-{{ LANGUAGE_CODE }}.png" alt="{% trans "LSM website" %}" />
                </a>
            </div>
        </div>
    </div>
    <div id="languages">
        <div id="block-locale-language" class="block block-locale">
            <div class="content">
                <ul class="language-switcher-locale-url">
                    {% for lang in LANGUAGES%}
                        <form action="/i18n/setlang/" method="post">{% csrf_token %}
                            <li class="{{ lang.0 }}{% cycle ' first' ' last' %}{% if LANGUAGE_CODE == lang.0 %} active{% endif %}">
                                <input type="hidden" name="language" value="{{ lang.0 }}" />
                                <input type="submit" value="{{ lang.1}}"/>
                            </li>
                        </form>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
</div>
