{% extends "base2cols.html" %}

{% load i18n %}
{% load markup %}

{% block extrafoot %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
{% endblock %}

{% block title %}{% trans "Catalog" %}{% endblock %}

{% block sidebar %}
    {% include "account/menu.html" %}
{% endblock %}

{% block content %}
    <h2>{% trans "Catalog" %}</h2>

    {% if not products %}
        <div class="main-error">
            {% trans "No products." %}
        </div>
    {% endif %}

    <div id="catalog_list">

        {% if products %}
            <form action="/resa/cart/add/" method="post">{% csrf_token %}
                <div class="addcart">
                    <input type="submit" value="{% trans "Add the selected items to cart" %}" />
                </div>
                {% for p in products %}
                    <div class="product">
                        <h3 class="name">{{ p.title }}</h3>
                        {% if not p.unavailable %}
                            <input class="selector" type="checkbox" name="product_{{ p.id }}" value="1" />
                        {% endif %}
                        {% if p.description %}
                            <div class="desc">
                                {{ p.description|markdown }}
                            </div>
                        {% endif %}
                        <div class="info">
                            {% trans "Price:" %} {{ p.price }} {{ currency }}
                            {% if currency_alt %}
                                <em>(~ {{ p.price_alt }} {{ currency_alt }})</em>
                            {% endif %}
                            <br />
                            {% trans "Remaining stock:" %} {{ p.quantity_ajusted }}
                        </div>
                    </div>
                {% endfor %}
                <div class="addcart">
                    <input type="submit" value="{% trans "Add the selected items to cart" %}" />
                </div>
            </form>
        {% endif %}

    </div>

{% endblock %}

