{% load i18n %}

{% if order.creation_date %}
    <div class="order_date">
        <strong>{% trans "Creation date:" %}</strong> {{ order.creation_date|date:"Y-m-d H:i:s" }}
    </div>
{% endif %}

{% if order.payment_date %}
    <div class="order_date">
        <strong>{% trans "Payment date:" %}</strong> {{ order.payment_date|date:"Y-m-d H:i:s" }}
    </div>
{% endif %}

<table class="list">
    <tr>
        <th>{% trans "Product" %}</th>
        <th>{% trans "Quantity" %}</th>
        <th>{% trans "Subtotal" %}</th>
    </tr>
    {% for p in order.orderdetail_set.all %}
        <tr>
            <td>{{ p.product.title }}</td>
            <td class="act">{{ p.quantity }}</td>
            <td class="num">
                {{ p.totalamount }} {{ currency }}
            </td>
        </tr>
    {% endfor %}
    {% if order.donation > 0 %}
        <tr>
            <td>Donation</td>
            <td class="act">N/A</td>
            <td class="num">
                {{ order.donation }} {{ currency }}
            </td>
        </tr>
    {% endif %}
    <tfoot>
        <tr>
            <th colspan="2">
                {% trans "Total" %}
            </th>
            <td class="num">
                {{ order.totalamount }} {{ currency }}
                {% if currency_alt %}
                    <em>(~ {{ order.totalamount_alt }} {{ currency_alt }})</em>
                {% endif %}
            </td>
        </tr>
    </tfoot>
</table>
