{% extends "base2cols.html" %}

{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block sidebar %}
    {% include "account/menu.html" %}
{% endblock %}

{% block content %}
    <h2>{% trans "Home" %}</h2>

    <div id="home">
        <h3>
            {% trans "Welcome to the booking program" %}
        </h3>
        <p><strong>{% blocktrans%}You will find the items to book under the "Catalog" category. You will be able to update your cart with the items you would like to book. Once your cart is right, you can transform it into an order. You can make several orders.{% endblocktrans %}</strong></p>
        <ul>
            <li>{% blocktrans %}Orders not paid by July 5th will be removed. There are some exceptions with people coming from abroad which should contact the treasurer if they want to pay on arrival.{% endblocktrans %}</li>
            <li>{% blocktrans %}If you want to stay in an traditional hotel instead of a youth hotel or a camping, you can use the independant <a href="https://www.resotel.be/rmll2013">RESOTEL</a> form.{% endblocktrans %}</li>
            <li><strong>{% trans "Treasurer:" %}</strong> {{ treasurer.name }} &lt;<a href="mailto:{{ treasurer.email }}">{{ treasurer.email }}</a>&gt;</li>
        </ul>
    </div>

{% endblock %}
