{% extends "base2cols.html" %}

{% load i18n %}

{% block title %}{% trans "User badge" %}{% endblock %}

{% block sidebar %}
    {% include "account/menu.html" %}
{% endblock %}

{% block content %}
    {% include "account/menu_manager.html" %}

    <h2>{% trans "Badge" %}</h2>

    <div id="badge">
        <div>
            <a href="/account/manage_badge/bigpng/{{ user_obj.id }}">
                <img src="/account/manage_badge/png/{{ user_obj.id }}" alt="{% trans "The badge" %}" />
            </a>
        </div>
        <p>
            <a href="/account/manage_badge/pdf/{{ user_obj.id }}">{% trans "Download the badge with the right size and ready to print (PDF)" %}</a>
        </p>
    </div>

{% endblock %}