{% extends "base2cols.html" %}

{% load i18n %}

{% block title %}{% trans "Your badge" %}{% endblock %}

{% block sidebar %}
    {% include "account/menu.html" %}
{% endblock %}

{% block content %}
    <h2>{% trans "Your badge" %}</h2>

    <div id="profile_badge">
        <div>
            <a href="/account/profile/badge/bigpng/{{ user.id }}">
                <img src="/account/profile/badge/png/{{ user.id }}" alt="{% trans "Your badge" %}" />
            </a>
        </div>
        <p>
            <a href="/account/profile/badge/pdf/{{ user.id }}">{% trans "Download the badge with the right size and ready to print (PDF)" %}</a>
        </p>
    </div>

{% endblock %}

