<?xml version="1.0" encoding="utf-8" ?>
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{LANGUAGE_CODE}}" dir="ltr" lang="{{LANGUAGE_CODE}}">
    <head>
        <title>{% trans "LSM Booking" %} - {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/vnd.microsoft.icon" />
        <link href="http{% if request.is_secure %}s{% endif %}://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/rmll.css" type="text/css" media="screen, projection">
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="{{ MEDIA_URL }}/css/blueprint/ie.css" type="text/css" media="screen, projection">
        <![endif]-->
        {% block extrahead %}{% endblock %}
    </head>

    <body id="resarmll">
        {% include "layout/header.html" %}

       <div id="menu">
        </div>

        <div id="wrapper">
            <div class="container">
                <div class="span-22 push-1 blueprint">
                    <div class="span-22 shadow">
                        <div class="maincontent">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "layout/footer.html" %}

        {% block extrafoot %}{% endblock %}

    </body>
</html>