<?xml version="1.0" encoding="utf-8" ?>
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{LANGUAGE_CODE}}" dir="ltr" lang="{{LANGUAGE_CODE}}">
<head>
    <title>{% trans "LSM Booking" %} - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}images/favicon.png" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen"/>
    {% block extrahead %}{% endblock %}
</head>
<body>
    <div id="page" class="deuxcolonnes">
        {% if user.is_staff or user.get_profile.is_manager %}
            <div id="head" class="header_manager">
            </div>
        {% else %}
            <div id="head">
                <div id="acces"></div>
                <a id="mainlink" href="http://2009.rmll.info/" title="Nantes 2009 : Rendez-vous libres !">&nbsp;</a>
                <h1>10<sup>es</sup> Rencontres Mondiales du Logiciel Libre</h1>
                <ul id="menu2">
                    <li>
                        <a href="/">{% trans "Booking" %}</a>
                    </li>
                    <li>
                        <a href="http://rmll.info">{% trans "LSM website" %}</a>
                    </li>
                </ul>
            </div>
        {% endif %}

        <div id="icons">
            {% for lang in LANGUAGES%}
            <form action="/i18n/setlang/" method="post">
                <input type="hidden" name="language" value="{{lang.0}}" />
                <input type="image" src="{{ MEDIA_URL }}images/drapeaux/{{lang.0}}.png" alt="{{lang.1}}"/>
            </form>{%endfor%}
        </div>
        <div id="location">
            {% include "account/user_header.html" %}
        </div>
        <div id="barredroite">
            {% block sidebar %}{% endblock %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <p>2000-{% now "Y" %} <a href="http://rmll.info/">RMLL.info</a></p>
        </div>
    </div>

    {% block extrafoot %}{% endblock %}
</body>
</html>
