/***************************************
 * Imported from RMLL/LSM 2011 Website *
 ***************************************/

/* PHV modified */

/* paste :
vendor prefix
	-webkit-
	-moz-
	-ms-
	-o-

#B5E3F6 = bleu ciel haut du header
#0C6787 = bleu foncé
#80B11E = vert header
*/


html, body {
	padding: 0;
	margin: 0;
	border: 0;
	color: black;
	font-family: Helvetica,Arial,sans-serif;
	text-align: center;
	background: #f2f0e9;
	font-size : 12px;
}

@font-face {
    font-family: 'FolksBold';
    src: url('Folks-Bold-webfont.eot');
    src: url('Folks-Bold-webfont.ttf') format('truetype'); /* OK pour Firefox uniquement, pas testé ailleurs (cause: bug sur 'è' */
    font-weight: normal;
    font-style: normal;

}

a img {
	border: 0;
	vertical-align : middle;
}

a:hover {
	text-decoration: underline;
	color: #82b521;
}

a:visited {
	color: #094B62;
}

ul {
	margin: 0;
	padding-left: 10px;
}

h2 {
	text-align: left;
	font-size: 1.5em;
}

#content h2 {
	margin: 0 0 0.83em 0;
	padding: 12px 10px 8px 45px;
	font-size: 18px;
	letter-spacing: 1px;
	background: url(../images/puce_rmll2011.png) left top no-repeat;
}


h3 {
	clear: right;
	margin: 1em 0 0 0;
	font-size: 16px;
	border-bottom: 1px solid #80B11E;
}

h3 a {
	text-decoration: none;
}

h4,
h3>i {  /* *** Faut-il "enluminures" pour titres niveau 2 et plus ? Pas de h4 actuellement !!! */
	font-size: 1.2em;
	text-align: left;
	/*text-indent: 20px;*/
	
	/* GROS maquillage en attendant */
	border-left: 20px solid white;
	border-bottom: 1px solid white;
	margin-bottom: -1px;
	display: block;
	font-style: normal;
	font-size: 15px;
}

#content p {
	line-height: 1.5;
	margin-left: 2px;
}

/* paragraphe suivant un titre h2/h3 */
#content h2 + div p:first-child {
	margin-top: 0;
}

#content h3 + p {
	margin-top: 0.8em;
}


pre {
	background-color: #fdfaf0;
	padding: 10px;
}

blockquote {
	background-color: #fdfaf0;
	padding: 10px;
	margin: 5px 30px;
}

hr {
	display: block;
	margin: 5px 50px;
	border-top: 5px double #444;
}

/* = STRUCTURE   */
#page {
	background: white;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}


#head {
	min-height: 281px;
	background-color: white;
	padding-top: 1px;
}
#head:after {
	height: 10px;
	content: " ";
	display: block;
	clear: both;
}


#head h1 {
	display: block;
	height: 30px;
	padding: 0;
	margin: 0;
	padding-left: 45px;
	font-size: 18px;
	color: #CCC;
}


/* = Liens d'accès rapide */
#acces {
	float: right;
	color: #444;
	font-size: 12px;
	min-height: 15px;
	padding-bottom: 7px;
}

#acces a {
	text-decoration: none;
	font-weight: normal;
}

#acces a:hover,
#acces a:focus {
	text-decoration: underline;
}


/* = MENU 1 (bleu tout en haut) */
#menu1 {
	display: table;
	clear: both;
	margin: 4px auto 0 auto;
	padding: 0 0 0 5px;
	list-style-type: none;
	font-size: 18px;
	/*color: #0C6787;*/
	background-color: #0C6787;
}

#menu1 li {
	text-align: center;
	display: inline-block;
	padding: 0;
	margin: 0;
	clear: none;
}

#menu1 li a {
	display: block;
	padding: 2px 5px 4px 5px;
	margin: 0;
	text-decoration: none;
	color: white;
}


/* = MENU 2 (noir sur fond vert) */
#menu2 {
	display: table-row;
	margin: 0;
	padding: 0 0 0 45px;
	list-style-type: none;
	text-align: right;
	float: right;
	min-width: 628px;
	font-weight: bold;
	color: #0C6787;
	background: url(../images/bg_menuvert_biseau.png) left top no-repeat;
}

#menu2 li {
	display: table-cell;
	min-height: 46px;
	vertical-align: middle;
	clear: none;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.8px;
	border-left: 1px solid white;
	background-color: #80B11E;
}
#menu2 li:first-child {
	border-left: none;
}

#menu2 li a,
#menu2 li span {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0 19px;  /* 0 18px*/
	text-decoration: none;
	color: #0C1011; /* noir (à dégrader) */
}
#menu2 li:first-child a {
	padding-left: 0;
}

#menu2 li span {
	font-style: italic;
	color: #444F52;
}


/* = MENUS survol/focus */
/* ***TODO :focus en doublon de :hover */
#menu1 li a:hover, #menu1 li a.on {
	color: black;
	background: white;
}

/* TODO*** uniquement first et last child */
/*#menu1 li a:hover, #menu1 li a.on,
#menu1 li a:hover, #menu1 li a.on*/
#menu1 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

#menu2 li.on {
	background-color: #0C6787;
}

#menu2 li.on a, #menu2 li a.on:hover {
	padding-top: 2px;
	color: white;
}

#menu2 li.on a:hover {
	/*height: 50px;*/
}

#menu2 li a:hover {
	text-decoration: underline;
}


#location {
	margin: 5px 1px 20px 1px;
	padding: 4px 15px;
	/*background-color: yellow;*/
	/*border-top: 1px solid #e8e5d4;
	border-bottom: 1px solid #e8e5d4;*/
}

#content {
	margin-left: 20px;
	margin-right: 20px;
}

#content .description {
    overflow : auto;
}

.date {
	margin-top: -15px;
	color: #444;
	font-size: 90%;
	text-align: right;
}

.deuxcolonnes #content {
	clear: right;
	margin-left: 296px;
	margin-right: 20px;
}

#barredroite {
	clear: both;
	text-align: left;
	float: left;
	width: 276px;
	padding: 0 2px 0 0px;
	margin: 0 0 50px 1px;
	border-right: 1px solid #80B11E;
}

#barredroite h2 {
	margin-bottom: 5px;
	border: 0;
	font-size: 1.1em;
	font-family: Helvetica,Arial,sans-serif;
}

#barredroite ul {
	padding-left: 5px;
	list-style: disc inside;
}
#barredroite li {
	margin: 0;
	padding: 0;
}


#footer {
	clear: both;
	min-height: 203px;
	text-align: center;
	background: url(../images/bg_bas1000.png) no-repeat;
}

#footer p {
	padding-top: 170px;
	color: #707070;
}

#footer p a {
	text-decoration: none;
}

#footer p a:hover {
	text-decoration: underline;
}

#search {
	float: left;
	margin: 0;
	padding: 16px 0 0 45px;
	width: 282px;
}

#search .text {
	border: 1px solid #80B11E;
	border-right: none;
	width: 159px;
	margin: 0;
	color: #777;	/* ***vérif */
	background: #E4F4C4;
	padding : 2px 0 5px 9px;
	font-size: 1em;
	vertical-align: top;
}

#search .img {
	margin: 0;
	padding: 0;
	border: 0;
}

.menubarre {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menubarre li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menubarre li a {
	display: block;
	padding: 3px 5px 2px 5px;
	text-decoration: none;
	border-bottom: 1px solid #e8e5d4;
	margin: 0;
	margin-left: 5px;
	margin-right: 20px;
}

.menubarre li a:hover {
	color: #000;
	background-color: #fffefb;
}
.menubarre li.current a {
	color: #fffefb;
	background-color: #107EA3;
}


.clear {
	clear: both;
}

.imgrubrique {
	float: right;
	padding: 10px;
}

.gris {
	color: #666;
}

#icons {
	clear: both;
	text-align: right;
	padding-right: 20px;
	margin-top: -5px;
}
#icons a {
	margin-left: 3px;
}

#barredroite .modifs h2 {
	color: #444;
	font-size: 1.1em;
}

.modifs p {
	text-align: right; padding-right: 5px;
}

.modifs {
	margin-bottom: 30px;
}

#mainlink {
	clear: both;
	display: block;
	width: 327px;
	height: 281px;
	margin: 0;
	padding: 0;
	background: url(../images/dummy_header_gauche.png) left top no-repeat;
	text-decoration: none;
}
#mainlink:visited {
	color: transparent;
}

form {
	border: 0;
	margin: 0;
	padding: 0;
}

form.newsletter {
	margin : 15px;
}

form.newsletter .elem {
	margin : 5px;
	clear : both;
}

form.newsletter label {
	width : 150px;
	float : left;
}


#content ul {
	list-style-type: none;
	line-height: 1.5;
	margin-left: 2px;
}

#content ul li {
    padding-left: 10px;
	background: url(../images/puce_verte.png) 0 7px no-repeat;
}

#document_actif {
    margin : 15px 0;
    padding : 15px 0;
    border-top : 2px solid #ececec;
}

#document_actif .titre {
    font-weight : bold;
}

.rmll-evenements-brief {
    margin : 10px 20px;
    padding : 5px 10px;
    background : #eeeeee;
    border-left : 2px solid #808080;
}

.rmll-evenements-brief .info {
    margin : 2px 0px;
}

.rmll-evenements-brief .info .expl {
    padding-right : 5px;
    color : #808080;
    font-weight : bold;
}

.rmll-evenements-theme {
    margin : 15px 0px 0px 5px;
}

.rmll-evenements-theme .description {
    padding : 1px 8px 8px 8px;
    background : #eeeeee;
    border-left : 2px solid #808080;
}

.rmll-schedule-wrap {
    padding : 5px;
}

.rmll-schedule td {
    text-align : left;
    vertical-align : top;
}

.rmll-schedule, .rmll-schedule th, .rmll-schedule td {
    border : 1px solid #808080;
    border-collapse : collapse;
}

.rmll-schedule th.conf {
    text-align : center;
    padding : 6px;
}

.rmll-schedule td.timeslot, .rmll-schedule th.timeslot {
    text-align : center;
    padding : 3px;
    width : 1%;
    white-space : nowrap;
}

.rmll-schedule td.pause {
    text-align : center;
    padding : 3px;
    background : #93b0c7;
    font-weight : bold;
}

.rmll-schedule tr.odd td.timeslot {
    background : #f2f0e9;
}

.rmll-schedule td.conf .infos {
    min-width : 130px;
    padding : 7px;
    margin-bottom : 2px;
}

.rmll-schedule-all td.conf .infos {
    padding : 5px;
}

.rmll-schedule-all td.conf .hider {
    display : none;
    padding : 4px;
}

.rmll-schedule td.conf .infos .time {
    font-size : 0.8em;
    margin-bottom : 4px;
}

.rmll-schedule td.conf .infos .time span {
    text-decoration : underline;
}

.rmll-schedule-all td.conf .infos .time {
    text-align : center;
    text-decoration : none;
}

.rmll-schedule-all td.conf .infos .time a {
    color : black;
    text-decoration : underline;
}

.rmll-schedule td.conf .infos .title {
    font-size : 0.9em;
    margin-bottom : 4px;
}

.rmll-schedule td.conf .infos .title a {
    color : black;
    font-weight : bold;
}

.rmll-schedule td.conf .infos .nature {
    font-size : 0.8em;
    text-decoration : underline;
}

.rmll-schedule td.conf .infos .speaker {
    font-size : 0.8em;
    font-style : italic;
}

.rmll-schedule .conf-color-0 {
    background : #9dff00;
}

.rmll-schedule .conf-color-1 {
    background : #fa8072;
}

.rmll-schedule .conf-color-2 {
    background : #a4adbe;
}

.rmll-schedule .conf-color-3 {
    background : #f3eea0;
}

.rmll-schedule .conf-color-4 {
    background : #6eb926;
}

.rmll-schedule .conf-color-5 {
    background : #d18604;
}

.rmll-schedule .conf-color-6 {
    background : #d2cd77;
}

.rmll-schedule .conf-color-7 {
    background : #7abfa6;
}

.rmll-schedule .conf-color-8 {
    background : #add8e6;
}

.rmll-schedule .conf-color-9 {
    background : #f5d07f;
}

.rmll-schedule .conf-color-10 {
    background : #ffb6c1;
}

.rmll-schedule .conf-color-11 {
    background : #cc9d94;
}

.rmll-schedule .conf-color-12 {
    background : #d295fa;
}

.rmll-schedule .conf-color-13 {
    background : #ddddff;
}

.rmll-schedule .conf-color-14 {
    background : #00fa9a;
}

.rmll-schedule .conf-color-15 {
    background : #c77670;
}

.rmll-schedule .conf-color-16 {
    background : #ffe100;
}

.rmll-schedule .conf-color-17 {
    background : #cfb5b5;
}

.rmll-schedule .conf-color-18 {
    background : #8EA0AF;
}

.rmll-schedule .conf-color-19 {
    background : #ff1f28;
}

.rmll-ical-wrap {
    margin : 10px;
}

.rmll-pager-wrap {
    overflow : auto;
    margin : 10px 0px 5px 0px;
}

.rmll-pager-wrap .prev {
    float : left;
}

.rmll-pager-wrap .next {
    float : right;
}

.rmll-listdays-wrap {
    margin : 20px;
}

.rmll-listdays-wrap .msg {
    margin-bottom : 10px;
    font-weight : bold;
    font-size : 1.1em;
}

.rmll-schedule-theme-wrap {
    margin : 10px 0;
}

#prog {
    text-align : left;
    padding : 15px;
}

.rmll-theme-selector, .rmll-day-selector {
    margin : 10px;
}


/* EN CHANTIER */
/* = TYPOGRAPHIE (font-face) */
#menu1,
#menu2,
h2,
#header_bg p {
	font-family: FolksBold,Arial,sans-serif;
}

/* = COULEURS */
#acces a {
	color: #0C6787;	/* bleu foncé */
}

a,
#header_bg p,
#content h2,
#footer p a {
	color: #107EA3; /* bleu contraste 4.6:1 */
}

/* = STRUCTURE */
#head,
#page,
#footer {
	max-width: 1000px;
}

#head {
	padding-bottom: 10px;
}

.home #head {
	padding-bottom: 30px;
}

#barredroite,
#barredroite h2,
#barredroite p {
	text-align: left;
}

#barredroite > div {
	min-height: 80px;
	margin: 0 10px 1em 20px;
	/*background: url(../images/dummy_phylactere.png) left top no-repeat;*/
	border-bottom: 1px dashed #aaa;
}
#barredroite > #radio {
	margin-left: 32px;
	/*border-bottom: none;*/
}

#barredroite > #radio h2 img {
	vertical-align: middle;
}

#barredroite > #radio h2 span {
	vertical-align: middle;
	margin-left: 12px;
	color: #0C1011;
	font-size: 14px;
}


#barredroite > #fdanl {
	/*border-bottom: none;*/
}

#barredroite > #fdanl a {
	display: block;
	text-align: center;
}

/* EN CHANTIER */
#header_links {
	background-color: #B5E3F6;
	/*background: #D2EDF9;
	border-bottom: 1px solid #333;*/
}

#header_links:after {
	height: 3px;
	content: " ";
	display: block;
	clear: both;
}

#menu1 li {
	margin: 0 9px 0 0;
}
#header_bg {
	position: relative;
	background: url('../images/dummy_header_droite.png') right top no-repeat;
}

#header_bg p {
	position: absolute;
	left: 200px;
	top: 30px;
	margin: 0;
	font-size: 26px;
}

/* = Page PLAN du site */
#content.sitemap > h3,
#content.sitemap > ul {
	margin-left: 20px;
}

#content.sitemap h3 {
	border: none;
}

.sitemap ul {
	margin: 0.3em 0 1em 0;
}

.sitemap li {
	margin : 0 0 0 20px;
}

.sitemap li a {
	font-size: 16px;
	text-decoration: none;
}

.sitemap li li a {
	font-size: 14px;
	text-decoration: none;
}

/**********************
 * ResaRMLL specifics *
 **********************/

#flags form {
    display: inline;
}

#flags input {
    border: none;
}

form {
    text-align: left;
}

fieldset, legend {
    border: 1px solid #808080;
}

legend {
    padding: 5px;
}

input, textarea {
    border: 1px solid #808080;
}


ul {
    margin: 0 20px;
}

.main-error {
    border: 1px dashed #912829;
    margin: 10px 0px;
    padding: 10px 10px 8px 42px;
    color: #912829;
    background: #ffffcc url('../images/common/error.png') no-repeat 4px 4px;
    font-size: 1.2em;
    min-height: 22px;
}

.main-success {
    border: 1px dashed #45901d;
    margin: 10px 0px;
    padding: 10px 10px 8px 42px;
    color: #45901d;
    background: #ffffcc url('../images/common/success.png') no-repeat 4px 4px;
    font-size: 1.2em;
    min-height: 22px;
}

.main-warn {
    border: 1px dashed #f9bc5a;
    margin: 10px 0px;
    padding: 10px 10px 8px 42px;
    color: #ff665a;
    background: #ffffcc url('../images/common/warn.png') no-repeat 4px 4px;
    font-size: 1.2em;
    min-height: 22px;
}

.notset {
    color: #f9bc5a;
    font-weight: bold;
}

.field {
    clear: both;
    padding: 5px;
}

label, .label {
    font-weight: bold;
    color: #404040;
}

.field label, .field .label {
    width: 25%;
    float: left;
}

label.inline {
    padding: 0 5px;
}

.mark {
    color: red;
    font-weight: bold;
    font-size: 1.3em;
}

.field .widget {
    float: left;
    width: 50%;
}

.field .help {
    margin-left: 25%;
    padding: 3px 0px 0px 5px;
    clear: both;
    font-style: oblique;
    color: #303030;
}

.field-error input, .field-error textarea {
    border: 1px solid red;
}

.field .error {
    color: red;
    padding: 0 0 0 25%;
}

.field .areatext {
    margin: 0 0 0 25%;
}

.mandfields {
    padding: 10px;
}

.sub {
    padding: 2% 0 0 25%;
}

.action {
    clear: both;
    margin: 20px 0 0 0;
}

#catalog_list .product {
    margin : 10px 0px 10px 20px;
    border : 1px solid #808080;
    background : #ececec;
    padding : 5px;
}

#catalog_list .product .selector{
    float: right;
}

#catalog_list .addcart {
    text-align: right;
    padding: 5px 0px;
}

table.list {
    margin-top : 20px;
    width : 100%;
}

table.list, table.list th, table.list td {
    border : 1px solid #808080;
    border-collapse : collapse;
}

table.list th, table.list td {
    padding : 5px;
}

table.list th, table.list td.act {
    text-align : center;
}

table.list th.text {
    text-align : left;
}

table.list tfoot th {
    text-align : right;
}

table.list td.num {
    text-align : right;
}

table.list td.total {
    text-align : center;
}

table.list tr.plus {
    background : #BEF2B0;
}

table.list tr.minus {
    background : #ECACA6;
}

table.list tr.odd {
    background : #ececec;
}

.validate_payment, .validate_payment {
    margin : 20px 0;
    float : right;
}

.section {
    margin : 15px 0;
}

.section h3 {
    padding : 4px 10px 8px 25px;
    background : url('../images/common/arrow.png') no-repeat 4px 4px;
    color : #303030;
}

#manage_orders .list {
    margin-bottom : 20px;
    border : 1px solid red;
}

#manage_orders fieldset {
    margin-bottom: 15px;
}

.header_manager {
    height : 135px !important;
}

.menu-manager {
	margin-bottom: 15px;
}

table.modified {
    border : 2px solid red !important;
}

/**********************
 * ResaRMLL overrides *
 **********************/

.home #head {
	padding-bottom: 0px;
}

/* template 2 cols */

h3 {
	margin: 10px 0;
}

/*

.deuxcolonnes #content {
    top: 0;
    background: none;
}

.deuxcolonnes #head {
    background: none;
}

.deuxcolonnes #head-wrapper {
    background-position: 0 100%;
}

.deuxcolonnes #menubar {
    float: left;
    width: 18%;
    margin-right: 2%;
    border-right: 1px solid #ececec;
}

.deuxcolonnes #menubar ul {
    margin: 10px 0;
    padding: 0 0 0 25px;
}

.deuxcolonnes #main {
    padding: 0 0 20px 0;
    width: 79%;
    min-height: 300px;
}

.deuxcolonnes #footer-wrapper {
    top: 0px;
}
*/

.deuxcolonnes #head {
	min-height: 0;
}

.deuxcolonnes #barredroite {
	margin: 0;
	width: 200px;
	float: left;
}

.deuxcolonnes #barredroite > div {
	margin: 0;
	border-bottom: none;
}

.deuxcolonnes #barredroite li {
	list-style-image: url('../images/puce_verte.png');
}

.deuxcolonnes #barredroite ul {
	margin: 0 0 10px 10px;
}

.deuxcolonnes #content {
	float: left;
	margin-left: 20px;
	width: 750px;
}

.deuxcolonnes .username {
    float: left;
}

.deuxcolonnes .username h2 {
    color: #0C6787;
    background: none;
    margin: 0 0 0 20px;
}

.deuxcolonnes .quicksearch {
    float: right;
}

.deuxcolonnes .quicksearch label {
    color: #0C6787;
}
