body {
    padding: 0;
    margin: 0;
    border: 0;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff url('../images/haut-gris.png') top repeat-x;
    font-size: 12px;
}

div {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    vertical-align: middle;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
    color: #4ab504;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a:visited {
}

ul {
}

ul li {
    list-style: url('../images/puce1.png');
}

ul li ul li {
    list-style: url('../images/puce2.png');
}

h2 {
    background: transparent url('../images/section-bg.png') no-repeat;
    color: #388e00;
    padding: 0 0 0 40px;
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
    color: #2d90cc;
    margin: 0;
    margin-bottom: 5px;
    clear: both;
}

h3 a {
    text-decoration: underline;
}

h4 {
    font-size: 1.1em;
}

pre {
    margin: 10px;
    background-color: #fdfaf0;
    padding: 10px;
}

blockquote {
    background-color: #fdfaf0;
    padding: 10px;
    margin: 10px;
}

hr {
    display: block;
    height: 1px;
    margin: 5px 20px;
    border: 0;
    border-top: 1px solid #ababab;
}

#accessibility a {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

#accessibility a:focus {
    position:static;
    width:auto;
    height:auto;
}

#breadcrumb {
    margin: 10px 5px;
}

#breadcrumb .delim {
    color: #0a2031;
    font-weight: bold;
    padding: 0 2px;
}

#formulaire_recherche input {
    vertical-align: middle;
}

#formulaire_recherche {
    padding: 0 5%;
}

#formulaire_recherche label {
    color: #39434a;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}

input#recherche {
    border: none;
    border-top: 1px solid #373737;
    border-left: 1px solid #373737;
    padding: 5px;
    background: #ddd;
    width: 65%;
    margin-right: 2%;
}

#menu {
    background: #040E16 url('../images/menu-bg.png') repeat-x;
    min-height: 30px;
}

#menu ul {
    display: table;
    margin: 0 auto;
}

#menu ul li {
    display: inline;
    margin: 0px 10px;
}

#menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 110%;
    border-bottom: 1px solid #7cc200;
}

#menu ul li a:hover {
    border-color: white;
}

#head-wrapper {
    background: url('../images/headrep-bg.png') repeat-x;
}

#head, #content, #footer-inner {
    display: table;
    margin: 0 auto;
    width: 90%;
}

#head {
    background: url('../images/head-bg.png') no-repeat center top;
    position: relative;
    z-index: 100;
}

#logo {
    float: left;
    height: 185px;
    width: 75%;
}

#logo h1 {
    margin: 0;
    padding: 20px 0 0 20px;
}

#sidelogo {
    float: right;
    height: 197px;
    background: url('../images/sidelogo.png') no-repeat center 50px;
    width: 25%;
}

#content {
    position: relative;
    top: -11px;
    z-index: 1;
    background:#7cd5ef;
}

#container {
    margin-bottom: 20px;
}

#main {
    background: white;
    float: left;
    width: 73%;
    padding-right:2%;
    min-height: 700px;
}

#sidebar {
    background: url('../images/sidebar-bg.png') repeat-x;
    width: 25%;
    float: right;
    padding-top: 25px;
    min-height: 500px;
}

#sidebar hr {
    margin: 10px 0;
    border-top: 1px solid #3cb2e0;
    border-bottom: 1px solid #bde9f7;
}

#sidebar .elem {
    padding: 0px 10%;
}

#sidebar .elem a {
    color: black;
}

#sidebar .elem a.icon {
    font-size: 1.1em;
}

#sidebar .elem a.icon:hover {
    text-decoration: none;
}

#sidebar .elem a.icon:hover span {
    text-decoration: underline;
}

#flags {
    text-align: center;
}

#footer-wrapper {
    background: #037ebc url('../images/footer-img-rep.png') repeat-x;
    margin: 0 0 50px 0;
    position: relative;
    top: -11px;
}

#footer-inner {
    background: url('../images/footer-img.png') no-repeat right top;
    height: 151px;
}

#footer-inner a {
    color: white;
}

#webmaster {
    float: left;
    padding : 10px 0;
    text-align: left;
}

#footer {
    float: right;
    padding : 10px 0;
    color: white;
    text-align: right;
}

/* django */
#flags form {
    display: inline;
}

#flags input {
    border: none;
}

form {
    text-align: left;
}

fieldset, legend {
    border: 1px solid #808080;
}

legend {
    padding: 5px;
}

input, textarea {
    border: 1px solid #808080;
}

ul {
    margin-left: 20px;
}

.main-error {
    border: 1px dashed #912829;
    margin: 10px 0px;
    padding: 10px 10px 8px 42px;
    color: #912829;
    background: #ffffcc url('../images/common/error.png') no-repeat 4px 4px;
    font-size: 1.2em;
    min-height: 22px;
}

.main-success {
    border: 1px dashed #45901d;
    margin: 10px 0px;
    padding: 10px 10px 8px 42px;
    color: #45901d;
    background: #ffffcc url('../images/common/success.png') no-repeat 4px 4px;
    font-size: 1.2em;
    min-height: 22px;
}

.main-warn {
    border: 1px dashed #f9bc5a;
    margin: 10px 0px;
    padding: 10px 10px 8px 42px;
    color: #ff665a;
    background: #ffffcc url('../images/common/warn.png') no-repeat 4px 4px;
    font-size: 1.2em;
    min-height: 22px;
}

.notset {
    color: #f9bc5a;
    font-weight: bold;
}

.field {
    clear: both;
    padding: 5px;
}

label, .label {
    font-weight: bold;
    color: #404040;
}

.field label, .field .label {
    width: 25%;
    float: left;
}

label.inline {
    padding: 0 5px;
}

.mark {
    color: red;
    font-weight: bold;
    font-size: 1.3em;
}

.field .widget {
    float: left;
    width: 50%;
}

.field .help {
    margin-left: 25%;
    padding: 3px 0px 0px 5px;
    clear: both;
    font-style: oblique;
    color: #303030;
}

.field-error input, .field-error textarea {
    border: 1px solid red;
}

.field .error {
    color: red;
    padding: 0 0 0 25%;
}

.field .areatext {
    margin: 0 0 0 25%;
}

.mandfields {
    padding: 10px;
}

.sub {
    padding: 2% 0 0 25%;
}

.action {
    clear: both;
    margin: 20px 0 0 0;
}

#catalog_list .product {
    margin : 10px 0px 10px 20px;
    border : 1px solid #808080;
    background : #ececec;
    padding : 5px;
}

#catalog_list .product .selector{
    float: right;
}

#catalog_list .addcart {
    text-align: right;
    padding: 5px 0px;
}

table.list {
    margin-top : 20px;
    width : 100%;
}

table.list, table.list th, table.list td {
    border : 1px solid #808080;
    border-collapse : collapse;
}

table.list th, table.list td {
    padding : 5px;
}

table.list th, table.list td.act {
    text-align : center;
}

table.list th.text {
    text-align : left;
}

table.list tfoot th {
    text-align : right;
}

table.list td.num {
    text-align : right;
}

table.list td.total {
    text-align : center;
}

table.list tr.plus {
    background : #BEF2B0;
}

table.list tr.minus {
    background : #ECACA6;
}

table.list tr.odd {
    background : #ececec;
}

.validate_payment, .validate_payment {
    margin : 20px 0;
    float : right;
}

.section {
    margin : 15px 0;
}

.section h3 {
    padding : 4px 10px 8px 25px;
    background : url('../images/common/arrow.png') no-repeat 4px 4px;
    color : #303030;
}

.section .content {
    margin-left : 20px;
}

#manage_orders .list {
    margin-bottom : 20px;
    border : 1px solid red;
}

.header_manager {
    height : 135px !important;
}

table.modified {
    border : 2px solid red !important;
}

/* template 2 cols */

#page2cols #sidelogo {
    background: none;
}

#page2cols #sidelogo {
    height: 80px;
}

#page2cols #logo {
    padding-top: 50px;
    height: 10px;
}

#page2cols #content {
    top: 0;
    background: none;
}

#page2cols #head {
    background: none;
}

#page2cols #head-wrapper {
    background-position: 0 100%;
}

#page2cols #flags {
    padding: 10px;
}

#page2cols #menubar {
    float: left;
    width: 18%;
    margin-right: 2%;
    border-right: 1px solid #ececec;
}

#page2cols #menubar ul {
    margin: 10px 0;
    padding: 0 0 0 25px;
}

#page2cols #main {
    padding: 0 0 20px 0;
    width: 79%;
    min-height: 300px;
}

#page2cols #footer-wrapper {
    top: 0px;
}

#page2cols .username {
    float: left;
}

#page2cols .username h2 {
    color: white;
    background: none;
    margin: 0 0 0 20px;
}

#page2cols .quicksearch {
    float: right;
}

#page2cols .quicksearch label {
    color: white;
}

/*
.description {
    margin: 10px 0 0 10px;
    padding: 0 5px;
    border-left: 1px solid #2f8600;
}

.news-focus .item {
    margin-bottom: 10px;
}

.news-focus .item .date {
    font-size: 0.9em;
    font-style: italic;
    padding: 0 20px;
}

.news-focus h3 span {
    display: block;
}

.news-focus .item h3 a {
    padding: 5px 0 0 10px;
}

.agenda-focus-wrapper, .schedule-focus-wrapper {
    padding: 0 5% !important;
}

.agenda-focus h3, .schedule-focus-wrapper h3 a {
    color: #39434a !important;
}

.agenda-focus .title {
    padding-top: 10px;
}

.schedule-focus-wrapper .title {
    padding-top: 4px;
}

.agenda-focus .content {
    min-height: 32px;
}

.schedule-focus-wrapper .content {
    margin: 2px 0px 2px 5px;
}

.agenda-focus .date {
    background: url('../images/date-bg.png') no-repeat;
    width: 32px;
    padding-top: 1px;
    height: 32px;
    float: left;
    color: white;
    text-align: center;
    font-size: 11px;
    padding-right: 8px;
}


.submenu {
    margin: 5px;
    padding: 5px;
    float: right;
    border-left: 1px solid #2f8600;
}

.submenu li {
    list-style: none !important;
    padding: 0 10px;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.submenu li a {
    color: #13171a;
    border-bottom: 1px solid #008bce;
}

.submenu li a:hover {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}
*/