{% extends "base2cols.html" %}

{% load i18n %}

{% block title %}{% trans "Documents" %}{% endblock %}

{% block sidebar %}
    {% include "account/menu.html" %}
{% endblock %}

{% block content %}
    <h2>{% trans "Documents" %}</h2>

    {% if not documents %}
        <div class="main-error">
            {% trans "No documents available." %}
        </div>
    {% endif %}

    {% if documents %}
        <div id="documents">
            <div class="section">
                {% if documents.all_badges %}
                    <h3>{% trans "All badges into a single PDF file" %}</h3>
                    <div class="content">
                        <a href="/resa/documents/all_badges">
                            {% trans "Download" %}
                        </a>
                        &mdash; {{ documents.all_badges.size }} {% trans "MB" %} &mdash; <em>{% trans "Last update:" %} {{ documents.all_badges.mtime }}</em>
                    </div>
                {% endif %}

                {% if documents.all_invoices %}
                    <h3>{% trans "All paid invoices into a single PDF file" %}</h3>
                    <div class="content">
                        <a href="/resa/documents/all_invoices">
                            {% trans "Download" %}
                        </a>
                        &mdash; {{ documents.all_invoices.size }} {% trans "MB" %} &mdash; <em>{% trans "Last update:" %} {{ documents.all_invoices.mtime }}</em>
                    </div>
                {% endif %}

                {% if documents.all_invoices_not_paid %}
                    <h3>{% trans "All unpaid invoices into a single PDF file" %}</h3>
                    <div class="content">
                        <a href="/resa/documents/all_invoices_not_paid">
                            {% trans "Download" %}
                        </a>
                        &mdash; {{ documents.all_invoices_not_paid.size }} {% trans "MB" %} &mdash; <em>{% trans "Last update:" %} {{ documents.all_invoices_not_paid.mtime }}</em>
                    </div>
                {% endif %}

            </div>
        </div>
    {% endif %}

{% endblock %}
