{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "General Conditions of sales" %}{% endblock %}

{% block sidebar %}
    {% include "account/menu.html" %}
{% endblock %}

{% block content %}
    <p>
        <a href="/" title="{% trans "Back to home page" %}">{% trans "Back to home page" %}</a>
    </p>

    <h2>{% trans "General Conditions of sales" %}</h2>

    <div id="order_gts">

        {% include "resa/common_gcs.html" %}

    </div>

    <p>
        <a href="/" title="{% trans "Back to home page" %}">{% trans "Back to home page" %}</a>
    </p>

{% endblock %}