{% extends "base2cols.html" %}

{% load i18n %}
{% load order %}

{% block title %}{% trans "User order(s)" %}{% endblock %}

{% block sidebar %}
    {% include "account/menu.html" %}
{% endblock %}

{% block content %}
    {% include "account/menu_manager.html" %}

    {% if user_obj %}

        <h2>{% trans "Order(s)" %}</h2>

        {% if pending_orders and user_obj.get_profile.payment_later %}
            <div class="main-warn">
                {% trans "It has been agreed that these orders will be paid at his arrival." %}
            </div>
        {% endif %}

        <div id="manage_orders">
            {% if not pending_orders and not validated_orders %}
                <div class="main-warn">
                    {% trans "No orders" %}
                </div>
            {% endif %}

            {% if msg_ok %}
                <div class="main-success">
                    {{ msg_ok }}
                </div>
            {% endif %}

            {% if msg_err %}
                <div class="main-error">
                    {{ msg_err }}
                </div>
            {% endif %}

            {% if pending_orders %}
                <div class="section">
                    <h3>{% trans "Pending order(s)" %}</h3>
                    {% for order in pending_orders %}
                        <h4>{% trans "Order no" %} #{{ order.id }}</h4>
                        {% if order.id|is_staff_order:user_obj %}
                            <div class="main-warn">
                                {% trans "This order is supported by the LSM organization." %}
                            </div>
                        {% endif %}
                        {% include "resa/order_details.html" %}
                        {% if not order.id|is_staff_order:user_obj %}
                            <div class="process">
                                <fieldset>
                                    <legend>{% trans 'Confirm order' %}</legend>
                                    <form method="post" action="">{% csrf_token %}
                                        <input type="hidden" name="order_id" value="{{ order.id }}" />
                                        <label class="inline" for="id_method">{% trans 'Payment method:' %}</label>
                                        {{ form.method }}
                                        <label class="inline" for="id_note">{% trans 'Note:' %}</label>
                                        {{ form.note }}
                                        <input type="submit" value="{% trans 'Save' %}" />
                                    </form>
                                </fieldset>
                                <fieldset>
                                    <legend>{% trans 'Remove order' %}</legend>
                                    <form method="post" action="">{% csrf_token %}
                                        <input type="hidden" name="order_id" value="{{ order.id }}" />
                                        <label class="inline" for="id_check">{% trans 'Remove:' %}</label>
                                        {{ form_del.check }}
                                        <input type="submit" value="{% trans 'Save' %}" />
                                    </form>
                                </fieldset>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            {% if validated_orders %}
                <div class="section">
                    <h3>{% trans "Paid order(s)" %}</h3>
                    {% for order in validated_orders %}
                        <h4>{% trans "Order no" %} #{{ order.id }}</h4>
                        {% include "resa/order_details_extended.html" %}
                        <div>
                            <a href="/resa/manage_orders/pdf/{{ order.id }}">{% trans "Download billing (pdf)" %}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    {% endif %}
{% endblock %}
