{% extends "base2cols.html" %}

{% load i18n %}

{% block title %}{% trans "Orders not paid" %}{% endblock %}

{% block sidebar %}
    {% include "account/menu.html" %}
{% endblock %}

{% block content %}
    <h2>{% trans "Orders not paid" %}</h2>

    {% if not results %}
        <div class="main-warn">
            {% trans "No results" %}
        </div>
    {% endif %}

    <div id="orders_notpaid">

        {% if results_orga %}
            <div class="section">
                <h3>{% trans "Organization" %}</h3>
                <div class="content">
                    <table class="list">
                        <tr>
                            <th>#</th>
                            <th>{% trans "Id" %}</th>
                            <th>{% trans "Last name" %}</th>
                            <th>{% trans "First name" %}</th>
                            <th>{% trans "Email" %}</th>
                            <th>{% trans "Number" %}</th>
                            <th>{% trans "Sel." %}</th>
                            <th>{% trans "Badge" %}</th>
                            <th></th>
                        </tr>
                        {% for u in results_orga %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ u.id }}</td>
                                <td>{{ u.last_name }}</td>
                                <td>{{ u.first_name }}</td>
                                <td>{{ u.email }}</td>
                                <td>
                                    {{ u.num_orders }}
                                    {% if u.get_profile.get_order_orga %}
                                        <strong>-1</strong>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if u.get_profile.get_order_orga %}
                                        {{ u.get_profile.get_order_orga }}
                                    {% endif %}
                                </td>
                                <td>{{ u.get_profile.badge_type }}</td>
                                <td>
                                    <a href="/resa/manage_orders/{{ u.id }}">
                                        {% trans "View" %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

        {% if results_speakers %}
            <div class="section">
                <h3>{% trans "Speakers" %}</h3>
                <div class="content">
                    <table class="list">
                        <tr>
                            <th>#</th>
                            <th>{% trans "Id" %}</th>
                            <th>{% trans "Last name" %}</th>
                            <th>{% trans "First name" %}</th>
                            <th>{% trans "Email" %}</th>
                            <th>{% trans "Number" %}</th>
                            <th>{% trans "Badge" %}</th>
                            <th></th>
                        </tr>
                        {% for u in results_speakers %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ u.id }}</td>
                                <td>{{ u.last_name }}</td>
                                <td>{{ u.first_name }}</td>
                                <td>{{ u.email }}</td>
                                <td>
                                    <strong style="color:{% if u.get_profile.payment_later %}green{% else %}red{% endif %};">
                                        {{ u.num_orders }}
                                    </strong>
                                </td>
                                <td>{{ u.get_profile.badge_type }}</td>
                                <td>
                                    <a href="/resa/manage_orders/{{ u.id }}">
                                        {% trans "View" %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

        {% if results_others %}
            <div class="section">
                <h3>{% trans "Others" %}</h3>
                <div class="content">
                    <table class="list">
                        <tr>
                            <th>#</th>
                            <th>{% trans "Id" %}</th>
                            <th>{% trans "Last name" %}</th>
                            <th>{% trans "First name" %}</th>
                            <th>{% trans "Email" %}</th>
                            <th>{% trans "Number" %}</th>
                            <th>{% trans "Badge" %}</th>
                            <th></th>
                        </tr>
                        {% for u in results_others %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ u.id }}</td>
                                <td>{{ u.last_name }}</td>
                                <td>{{ u.first_name }}</td>
                                <td>{{ u.email }}</td>
                                <td>
                                    <strong style="color:{% if u.get_profile.payment_later %}green{% else %}red{% endif %};">
                                        {{ u.num_orders }}
                                    </strong>
                                </td>
                                <td>{{ u.get_profile.badge_type }}</td>
                                <td>
                                    <a href="/resa/manage_orders/{{ u.id }}">
                                        {% trans "View" %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}
