{% extends "base2cols.html" %}

{% load i18n %}

{% block title %}{% trans "Order detail" %}{% endblock %}

{% block sidebar %}
    {% include "account/menu.html" %}
{% endblock %}

{% block content %}
    <h2>{% trans "Order no" %} #{{ order.id }}</h2>

    {% if not order %}
        <div class="main-error">
            {% trans "This order is not yours." %}
        </div>
    {% endif %}

    <div id="order_details">

        {% if order %}

            {% include "resa/order_details.html" %}

            {% if order.payment_date %}
                <div class="section">
                    <h3>{% trans "Billing" %}</h3>
                    <div class="content">
                        <a href="/resa/orders/pdf/{{ order.id }}">{% trans "Download billing (pdf)" %}</a>
                    </div>
                </div>

            {% else %}

                <div class="section">
                    <h3>{% trans "Delete this order" %}</h3>
                    <div class="content">
                        <form action="/resa/orders/delete/{{ order.id }}" method="get">
                            <input type="submit" value="{% trans "Delete this order definitely" %}" onclick="return confirm('{% trans "Are you sure?" %}');" />
                        </form>
                    </div>
                </div>

                <div class="section">
                    <h3>{% trans "Payment by credit card" %}</h3>
                    <div class="content">
                        {% include bp_tmpl %}
                    </div>
                </div>

                <div class="section">
                    <h3>{% trans "Payment by PayPal" %}</h3>
                    <div class="content">
                        <p>{% trans "Proceed the payment using PayPal:" %}</p>
                        <form action="{{ paypal_settings.url }}" method="post" class="payment">
                            <input type="hidden" name="business" value="{{ paypal_settings.id }}" />
                            <input type="hidden" name="currency_code" value="{{ paypal_settings.currency }}" />
                            <input type="hidden" name="return" value="{{ url }}{{ paypal_settings.return }}" />
                            <input type="hidden" name="rm" value="2" />
                            <input type="hidden" name="notify_url" value="{{ url }}{{ paypal_settings.notify_url }}" />
                            <input type="hidden" name="cancel_return" value="{{ url }}{{ paypal_settings.cancel_return}}" />
                            <input type="hidden" name="item_name_1" value="{% trans "Order no" %} {{ order.id }}" />
                            <input type="hidden" name="item_number_1" value="{{ order.id }}" />
                            <input type="hidden" name="invoice" value="{{ order.id }}" />
                            <input type="hidden" name="amount_1" value="{{ order.totalamount }}" />
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="no_note" value="1" />
                            <input type="hidden" name="upload" value="1" />
                            <input type="hidden" name="no_shipping" value="1" />
                            <input class="img" type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but23.gif" value="{% trans "Payment by PayPal" %}" name="submit" />
                        </form>
                        <p>
                            <em>{% trans "If it is possible for you to use another payment method than PayPal, please do it. PayPal payments involves expensive fees for us." %}</em>
                        </p>
                    </div>
                </div>

                {% if wiretransfer.inuse %}
                    <div class="section">
                        <h3>{% trans "Payment by bank transfer" %}</h3>
                        <div class="content">
                            <p>{% trans "Proceed the payment by making a bank transfer:" %}</p>
                            {% if wiretransfer.bank_name %}
                                <div>
                                    <strong>{% trans "Bank name:" %}</strong> {{ wiretransfer.bank_name }}
                                </div>
                            {% endif %}
                            {% if wiretransfer.account_no %}
                                <div>
                                    <strong>{% trans "Account number:" %}</strong> {{ wiretransfer.account_no }}
                                </div>
                            {% endif %}
                            {% if wiretransfer. %}
                                <div>
                                    <strong>{% trans "IBAN (International Bank Account Number):" %}</strong> {{ wiretransfer.iban }}
                                </div>
                            {% endif %}
                            <div>
                                <strong>{% trans "IBAN (International Bank Account Number):" %}</strong> {{ wiretransfer.iban }}
                            </div>
                            <div>
                                <strong>{% trans "BIC (Bank Identifier Code):" %}</strong> {{ wiretransfer.bic }}
                            </div>
                            {% if wiretransfer.owner %}
                                <div>
                                    <strong>{% trans "Account owner:" %}</strong>
                                    <pre>{{ wiretransfer.owner }}</pre>
                                </div>
                            {% endif %}
                            <p>{% trans "Please add the order(s) id(s) in the bank transfer title and notify our accountant when the check has been sent." %}</p>
                        </div>
                    </div>
                {% endif %}

                {% if check.inuse %}
                    <div class="section">
                        <h3>{% trans "Payment by cashiers check" %}</h3>
                        <div class="content">
                            <p>{% trans "Send your check to the treasurer, here is the postal address:" %}</p>
                            <pre>{{ check.treasurer.address }}</pre>
                            <p>{% trans "payable to:" %}</p>
                            <pre>{{ check.to }}</pre>
                            <p>
                                {% trans "For payments with cashiers check, please notify our accountant when the check has been sent. Cashiers check payments might include fee if your bank is not located in France or in the EU." %}
                            </p>
                        </div>
                    </div>
                {% endif %}

                <div class="section">
                    <h3>{% trans "Other payment methods" %}</h3>
                    <div class="content">
                        <p>{% trans "If you wish to use other methods of payment, please contact our accountant:" %}</p>
                        <pre>{{ treasurer.name }} &lt;<a href="mailto:{{ treasurer.email }}">{{ treasurer.email }}</a>&gt;</pre>
                    </div>
                </div>

            {% endif %}

        {% endif %}
    </div>

{% endblock %}
