{% extends "base2cols.html" %}

{% load i18n %}

{% block title %}{% trans "Order detail" %}{% endblock %}

{% block sidebar %}
    {% include "account/menu.html" %}
{% endblock %}

{% block content %}
    <h2>{% trans "Order no" %} #{{ order.id }}</h2>

    {% if not order %}
        <div class="main-error">
            {% trans "This order is not yours." %}
        </div>
    {% endif %}

    <div id="order_details">

        {% if order %}

            {% include "resa/order_details.html" %}

            {% if order.payment_date %}
                <div class="section">
                    <h3>{% trans "Billing" %}</h3>
                    <div class="content">
                        <a href="/resa/orders/pdf/{{ order.id }}">{% trans "Download billing (pdf)" %}</a>
                    </div>
                </div>

            {% else %}

                <div class="section cyberplus">
                    <h3>{% trans "Payment by credit card" %}</h3>
                    <div class="content">
                        {% include bp_tmpl %}
                    </div>
                </div>

                <div class="section">
                    <h3>{% trans "Payment by PayPal" %}</h3>
                    <div class="content">
                        {% trans "Proceed the payment using PayPal:" %}
                        <br/>
                        <form action="{{ paypal_settings.url }}" method="post" class="payment">
                            <input type="hidden" name="business" value="{{ paypal_settings.id }}" />
                            <input type="hidden" name="currency_code" value="{{ paypal_settings.currency }}" />
                            <input type="hidden" name="return" value="{{ url }}{{ paypal_settings.return }}" />
                            <input type="hidden" name="notify_url" value="{{ url }}{{ paypal_settings.notify_url }}" />
                            <input type="hidden" name="cancel_return" value="{{ url }}{{ paypal_settings.cancel_return}}" />
                            <input type="hidden" name="item_name_1" value="{% trans "Order no" %} {{ order.id }}" />
                            <input type="hidden" name="item_number_1" value="{{ order.id }}" />
                            <input type="hidden" name="invoice" value="{{ order.id }}" />
                            <input type="hidden" name="amount_1" value="{{ order.totalamount }}" />
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="no_note" value="0" />
                            <input type="hidden" name="upload" value="1" />
                            <input type="hidden" name="no_shipping" value="1" />
                            <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but23.gif" value="{% trans "Payment by PayPal" %}" name="submit" />
                        </form>
                    </div>
                </div>

                <div class="section">
                    <h3>{% trans "Payment by cashiers check" %}</h3>
                    <div class="content">
                        {% trans "Send your check to the treasurer, here is the postal address:" %}
                        <pre>{{ treasurer_address }}</pre>
                        {% trans "payable to:" %}
                        <pre>{{ check_payable_to }}</pre>
                        <div>
                            {% trans "For payments with cashiers check, please notify our accountant when the check has been sent. Cashiers check payments might include fee if your bank is not located in France or in the EU." %}
                        </div>
                    </div>
                </div>

                <div class="section">
                    <h3>{% trans "Other payment methods" %}</h3>
                    <div class="content">
                        {% trans "If you wish to use other methods of payment, please contact our accountant:" %}
                        <pre>{{ treasurer_name }} &lt;<a href="mailto:{{ treasurer_email }}">{{ treasurer_email }}</a>&gt;</pre>
                    </div>
                </div>

            {% endif %}

        {% endif %}
    </div>

{% endblock %}
