{% extends "base2cols.html" %}

{% load i18n %}

{% block title %}{% trans "Order detail" %}{% endblock %}

{% block sidebar %}
    {% include "account/menu.html" %}
{% endblock %}

{% block content %}
    <h2>{% trans "General Conditions of sales" %}</h2>

    <div id="order_gts">

    {% if LANGUAGE_CODE = 'fr' %}

        <h3>1. Acceptation des conditions générales de vente</h3>

        <p>Le client reconnaît avoir pris connaissance, préalablement à la passation de commande, des conditions générales de vente énoncées sur cet écran et déclare expressément les accepter sans réserve. Les présentes conditions générales de vente régissent les relations contractuelles entre la Free IT Foundation et son client. Elles prévaudront sur toutes autres conditions figurant dans tout autre document, sauf dérogation préalable, expresse et écrite de la Free IT Foundation.</p>

        <p>Les présentes conditions générales de vente peuvent être modifiées à tout moment par la Free IT Foundation, sans préavis. Les conditions applicables seront celles en vigueur sur le site au moment de la validation de la commande.</p>

        <h3>2. Commande</h3>

        <p>Les systèmes d'enregistrement automatique sont considérés comme valant preuve de la nature et du contenu de la commande. La Free IT Foundation confirme l'acceptation de sa commande au client à l'adresse e-mail que celui-ci aura communiquée. La vente sera conclue à compter de la validation par la Free IT Foundation du paiement de la commande c'est-à-dire de la date de validation du paiement pour les commandes réglées en ligne par carte bancaire ou de la date de réception du règlement par virement bancaire ou postal.</p>

        <p>La Free IT Foundation se réserve en tout état de cause le droit de refuser ou d'annuler toute commande d'un client avec lequel existerait un différend relatif au paiement d'une commande antérieure.</p>

        <h3>3. Prix et paiement</h3>

        <p>
            <ul>
                <li>Le prix est exprimé en Francs suisses (CHF) et hors taxe. La Free IT Foundation n'est pas assujettie à la TVA.</li>
                <li>Le prix indiqué sur les fiches produit ne comprend pas le transport.</li>
                <li>Le prix indiqué dans la confirmation de commande est le prix définitif. Ce prix comprend le prix des produits, les frais de manutention, d'emballage et de conservation des produits, les frais de transport, d'assurances et de mise en service. Le prix est payable au comptant, le jour de la confirmation de commande.</li>
            </ul>
        </p>

        <p>
            Le paiement s'effectue :

            <ul>
                <li>Par virement bancaire.</li>

                <li>Par carte bancaire: Notre partenaire vous permet de régler via un serveur bancaire dans un environnement sécurisé. Les données de votre carte bancaire sont dirigées vers les serveurs de la banque, votre règlement s'effectuant directement à une banque dans un environnement sécurisé sans passer par le serveur de la boutique, garantie d'autant plus importante que les données de votre carte de crédit sont connues seulement de notre partenaire bancaire.</li>
            </ul>
        </p>

        <p>La commande sera automatiquement annulée et le client prévenu par courrier électronique dans l'hypothèse où les centres de paiement bancaire concernés auront refusé de donner leur accord. La Free IT Foundation a mis en place une procédure de vérification et de demande de renseignements complémentaires au client, destinée à s'assurer que l'utilisateur de la carte bancaire est son titulaire. La mise en oeuvre de cette procédure, qui ne saurait être considérée comme une garantie contre toute utilisation frauduleuse de carte bancaire ni engager la responsabilité de la Free IT Foundation, diffère la validation du paiement jusqu'à l'issue de la procédure de vérification. Elle pourra conduire à l'annulation de la commande.</p>

        <h3>4. Confirmation, livraison et disponibilité</h3>

        <p>De façon générale les commandes sont traitées après validation du paiement lorsqu'elles sont réglées en ligne par carte bancaire ou à réception par la Free IT Foundation du règlement lorsque le client a choisi un règlement par virement. Les commandes seront préparées et réceptionnées par le client à Genève, durant la période du 6 au 12 juillet 2012, à l'occasion des Rencontres Mondiales du Logiciel Libre (www.rmll.info).</p>

        <p>Les disponibilités des produits sont potentiellement susceptibles de modification à l'initiative de nos fournisseurs et/ou fabricants.</p>

        <p>
            En cas d'indisponibilité des produits :

            <ul>
                <li>indisponibilité définitive : la Free IT Foundation s'engage à proposer au client des articles de remplacement ou à lui rembourser les articles manquants, sans délai et au plus tard dans les 30 jours.</li>
                <li>indisponibilité temporaire : la Free IT Foundation informe le client de la date à laquelle le produit sera de nouveau disponible. Le client a alors la possibilité de maintenir sa commande avec ces nouveaux délais ou de l'annuler. Dans ce dernier cas, la Free IT Foundation s'engage à rembourser les articles manquants sans délai et au plus tard dans les 30 jours. Les expéditions à destination de l'étranger se feront sous réserve d'acceptation du colis en vertu des dispositions douanières propres à chaque pays.</li>
            </ul>
        </p>

        <h3>7. Limitation de responsabilité</h3>

        <p>Les renseignements donnés sur le site, photographies, spécifications produits et prix sont donnés à titre indicatif. La Free IT Foundation s'efforce de veiller à l'exactitude des informations présentées sur le site. Les erreurs susceptibles de s'y être introduites sont fortuites et sont rectifiées dans les plus brefs délais. La responsabilité de la Free IT Foundation ne saurait être mise en cause pour de simples erreurs ou omissions qui auraient pu subsister malgré toutes les précautions prises dans la présentation des produits. Il en est de même pour les éventuelles modifications des produits décidées par les fabricants.</p>

        <p>Conformément aux textes en vigueur, la Free IT Foundation n'est pas responsable de l'inexécution ou de la mauvaise exécution du contrat qui serait imputable soit au consommateur, soit au fait insurmontable et imprévisible d'un tiers au contrat soit à un cas de force majeur.</p>

        <h3>8. Rétractation</h3>

        <p>Le client dispose de 7 jours à compter de la date de livraison pour retourner le produit dans son emballage d'origine pour remplacement ou remboursement. Le retour ne sera accepté que si le produit n'a pas été déconditionné / utilisé. Les produits vendus sous film plastique ou muni d'une étiquette de garantie doivent être retournés en l'état.</p>

        <h3>9. Informations légales</h3>

        <p>Les informations nominatives relatives au client sont indispensables pour le traitement et l'acheminement des commandes, l'établissement des factures et contrats de garantie. Le défaut de renseignement entraîne la non validation de la commande.</p>

        <h3>10. Droit applicable</h3>

        <p>Le présent contrat est soumis au droit suisse.</p>

        <h3>11. Immatriculation</h3>

        <p>Numéro fédéral : CH-660.2.608.005-3</p>

    {% endif %}

    {% if LANGUAGE_CODE = 'en' %}

    <h3>1. Acceptance of the general conditions of sale</h3>

    <p>The customer acknowledges to have read, before placing an order, the general conditions of sale displayed on this screen and expressly declares to accept them without reserve.  These general conditions of sale govern the contractual relations between Free IT Foundation and its customer.  They take precedence over all other conditions in any other document, unless prior express exception in writing by Free IT Foundation.</p>

    <p>These general conditions of sale may be modified at any time by Free IT Foundation, without notice. The applicable conditions shall be those in force on the site when the order is validated.</p>

    <h3>2. Order</h3>

    <p>The automatic recording systems are considered to be good proof of the order type and content. Free IT Foundation confirms the acceptance of the customer’s order to the email address provided by the aforesaid.  The sale shall be concluded as of the validation by Free IT Foundation of the order payment, that is to say the date of the validation of orders paid online by debit/credit or the date of receipt of the payment by bank or post office transfer.</p>

    <p>Free IT Foundation reserves, in any event, the right to refuse or cancel any order from a customer with whom there is a dispute concerning the payment of a previous order.</p>

    <h3>3. Price and payment</h3>

    <p>
        <ul>
            <li>The price is expressed in Swiss francs (CHF) excluding VAT. Free IT Foundation is not subject to VAT.</li>
            <li>The price indicated on the product sheets does not include carriage.</li>
            <li>The price indicated in the order confirmation is the definitive price. This price includes the price of the products, the handling, packaging and storage costs, the carriage costs, insurance costs and start-up costs. The price is payable cash on the day when the order is confirmed.</li>
        </ul>
    </p>

    <p>
        Payment is made:

        <ul>
            <li>By bank transfer.</li>
            <li>By debit/credit card: Our partner enables you to pay via a bank server in a secure environment. Your debit/credit card data is sent to the bank’s servers. Your payment is made directly to a bank in a secure environment without passing through the store’s server. In this way your debit/credit card data is known only to our bank partner, which constitutes a major security guarantee for you.</li>
        </ul>
    </p>

    <p>The order will be automatically cancelled and the customer notified by email in the event that the relevant bank payment centres refuse their approval. Free IT Foundation has implemented a procedure for verifying and requesting additional information from the customer in order to ensure that the user of the debit/credit card is its holder.  The implementation of this procedure, which shall not be considered to be a guarantee against any fraudulent use of the debit/credit card and shall not engage the liability of Free IT Foundation, defers the payment validation until the end of the verification procedure. It may lead to the cancellation of the order.</p>

    <h3>4. Confirmation</h3>

    <p>Delivery and Availability.  Generally, orders are processed after payment validation when they are paid online by a debit/credit card or upon receipt by Free IT Foundation of the payment when the customer has chosen payment by transfer.  The orders are prepared and delivery is taken by the customer in Geneva, during the period from 6 to 12 July 2012, during the Rencontres Mondiales du Logiciel Libre, that is to say the World Software Freedom Meetings (www.rmll.info).</p>

    <p>Product availabilities may be modified on the initiative of our suppliers and/or manufacturers.</p>


    <p>
        If products are unavailable:

        <ul>
            <li>definitive unavailability: Free IT Foundation undertakes to offer the customer replacement articles or to  refund the unavailable articles within 30 days at the most.</li>
            <li>temporary unavailability: Free IT Foundation informs the customer of the date on which the product will again be available.  The customer then has the possibility of maintaining his order with the new delivery times or cancelling it.  In the latter case, Free IT Foundation undertakes to promptly refund the unavailable articles within 30 days at the most.  Shipments abroad shall be subject to acceptance of the parcel in compliance with the customs regulations specific to each country.</li>
        </ul>
    </p>

    <h3>7. Limit on liability</h3>

    <p>The information given on the site, photographs, product specifications and prices are provided for information. Free IT Foundation makes every effort to ensure that the information presented on the site is accurate. Any errors are unintentional and are corrected as soon as possible.  Free IT Foundation shall not incur liability for simple errors or omissions that could remain despite all the precautions taken in the product presentation.  The same applies for any product modifications decided by the manufacturers.</p>

    <p>In compliance with current legislation, Free IT Foundation may not be held liable for the non-performance or incorrect performance of the contract ascribable to the consumer, uncontrollable and unforeseen actions of a third party to the contract or a case of force majeure.</p>

    <h3>8. Withdrawal</h3>

    <p>The customer has 7 days as of the delivery date to return the product in its original packaging for replacement or refund.  The return shall only be accepted if the product has not been opened/used. The products sold under a plastic film or with a guarantee label must be returned with these intact.</p>

    <h3>9. Legal information</h3>

    <p>Information with name concerning the customer is essential for processing and routing orders, and drawing up invoices and warranties.  A lack of information leads to non-validation of the order.</p>

    <h3>10. Applicable law</h3>

    <p>This contract is subject to Swiss law.</p>

    <h3>11. Swiss Federal Registration Number</h3>

    <p>CH-660.2.608.005-3</p>

    {% endif %}

    </div>

{% endblock %}