{% load i18n %}
<div id="head">
	<div id="header_links">
		<div id="acces">
			<a href="#content">{% trans "Go to main content" %}</a>
		</div>
		<div id="flags">
			{% for lang in LANGUAGES%}
			<form action="/i18n/setlang/" method="post">{% csrf_token %}
				<input type="hidden" name="language" value="{{lang.0}}" />
				<input type="submit" value="{{lang.1}}"/>
			</form>{%endfor%}
		</div>
		<div id="menu1">
			<ul>
				<li><a href="/">{% trans "Booking" %}</a></li>
				<li><a href="http://rmll.info">{% trans "LSM website" %}</a></li>
			</ul>
		</div>
		<div>
			{% include "account/user_header.html" %}
		</div>
	</div>
</div>
